# fly.toml app configuration file generated for fast-quizz-app-broken-sun-2310 on 2025-12-18T21:57:40-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fast-quizz-app-broken-sun-2310'
primary_region = 'gru'

[build]

[[mounts]]
  source = 'data'
  destination = '/app/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
